.container {
}

.headingText {
  text-align: center;
}

.searchBox {
  position: relative;
  padding: 10px;
  border: 10px;
  width: 800px;
  top: 50%;
  left: 50%;
  margin-left: -310px;
}

.mainHeader {
  position: relative;
  padding: 10px;
  border: 10px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
}

.headerEntry {
  margin: 0 auto;
}

.btn {
  width: 100px;
}

.entriesTable {
  float: left;
  position: relative;
  width: 1000px;
  padding: 10px;
  border: 10px;
  top: 50%;
  left: 50%;
  margin-left: -510px;
}
